@use "boiler/normalize.css" as *;

.viewer {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  height: calc(100vh - 3em);
  gap: 1.5em;
  padding: 1em;
  background-color: #fff;

  @media (max-width: 768px) {
    grid-template-columns: 1fr;
  }

  iframe,
  & > div {
    width: 100%;
    height: 100%;
  }
}
