@import '~normalize.scss/normalize.scss';
@import '~include-media/dist/_include-media';

.viewer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  height: calc(100vh - 3em);
  gap:1.5em;
  padding:1.5em;

  iframe,
  &>div {
    width: 100%;
    height: 100%;
  }

  &__video {
    grid-column: 1 / 4;
  }

  &__map {
    grid-column: 1/3;
  }

  &__spotting {
    grid-column:3;
  }
}